@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Noto+Sans+TC:wght@100;300;400;500;700;900&family=Sarabun:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

/* 
font-family: 'Noto Sans TC', sans-serif  思源黑體 包含中英文;
font-family: 'Sarabun', sans-serif;   英文正體字  
font-family: 'Caveat', cursive; 英文藝術字
*/ 


/* .container-fluid{
     padding: 0;
} */

body{
	background-color:rgb(255, 255, 255);
	font-family: 'Noto Sans TC', sans-serif;
	font-family: 'Sarabun', sans-serif;
    font-weight: 300;
	}

.big_container{

    width: 100%;
    /* border: magenta 1px solid; */
    display: flex;
     justify-content: space-between;
}


.topArticle{
    width: 98%;
    height: 360px;
    border:1px solid #E0E0E0FF;
    display: flex;
    justify-content: space-between;
}

.imgArea{
    width: 450px;
    height: 300px;
    border:1px solid #E0E0E0FF;
    margin-left: 25px;
    margin-top: 5px;
    overflow: hidden;
    display: flex;
    justify-content: center;

}

.pic{

    transition: all 0.5s;
    position: relative;
}

.pic:hover{
    transform: scale(1.05, 1.05);
    cursor: pointer;
		}

.article{
    width: 535px;
    height: 320px;
    border:1px solid rgb(214, 236, 213);
    margin-right: 15px;
    margin-top: 15px;
    margin-left: 10px;
    display: inline-block;
}

.title{
    font-size: 18px;
    font-weight: 600;
    color:  #FF80A2;
    transition: 0.3s;
    
}
.title:hover{
    color: #5a4e51;
    cursor: pointer;
		}

.author{
    margin-top: 25px;
    margin-bottom: 20px;
      font-size: 14px;
}

.texttop{
    line-height:25px;
    font-size: 15px;
}


/* .catbox{
    height: 70px;
    width: 68%;
    margin-bottom: 2px;
    border-radius:6px;
    margin-left: 25px; */


.category  ul{
    display: flex;
    justify-content: left;
    padding: 15px 0px 0px 50px;
}

.category  ul  li{
 padding: 0.3rem 0.6rem;
}

.category  ul  li a{
    color: #5a4e51 ;
}


/*討論區文章*/
.postone{
    width: 90%;
    height: 270px;
    margin-top: 25px;
    margin-left: 50px;
    border:1px solid rgb(150, 150, 150);
    position: relative;
 
       
}

.postone_content{
    width: 100%;
     margin-left: 20px;

}

.postone a{
    color: rgb(0, 0, 0);
    text-decoration: none;
}



.postone_top{
    display: flex;
    margin-top: 5px;
    margin-bottom: 20px;
    margin-left: 20px;
}


.right_info{
    margin-top: 10px;
    margin-left: 5px;
}

.right_info ul li{
line-height: 20px;
}

.mem_author{
    font-size: 18px;
    font-weight:bold;
    margin-bottom: 3px;
    font-family: 'Caveat', cursive;
    font-weight: 400; 
}

.time{
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 100;
}

.postone_cat{
    font-size: 20px;
    font-weight:bold;
}

.postone_title{
    font-size: 20px; 
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 500;
}


.inner{
  
    /* display: flex; */
    /* justify-content: space-between; */
    
}

.inner_text{
    display: inline-block;
    width: 80%;
    height: 70px;
    border: 1px solid rgb(140, 140, 145);
    line-height:25px;
    margin-top: 15px;
    overflow: hidden;

   
}

.inner_count{
position: absolute;
bottom:10px;
}


/* .inner_btn{
   display: inline-block;
   float: right;
  height: 60px;
  width: 60px;
  border: 1.5px solid rgb(241, 97, 118);
  border-radius:50%;
  margin-right: 50px;
  text-align: center;
  line-height: 60px;
} */

/* .inner_btn a{
     color:rgb(241, 97, 118) ;
} */



hr.left1 {
    margin: 140px  0px 0px 0px;
	border:0; 
    height:1px; 
    width: 100%;
    background-color:#ffb3b3;
	position: absolute;
    bottom:1px;
}



.big_left{
     width: 76%;
     display: inline-block;
     /* border: rgb(78, 61, 78) 1px solid; */
}


/*******右邊sidebar區**********/

.big_right{
    width: 24%;
    height: 5000px;
    display:block;
    /* border: rgb(247, 244, 114) 1px solid; */
    vertical-align: baseline;
    /* position: sticky; */
}


.sidebar{
        background-color: #FADCDA;
        width: 98%;
        height: 100%;
        display: inline-block;
        text-align: center;
}

.ad img{
    margin-top: 10px;
}

.goto_post{
    margin-top: 15px;
    width: 96%;
    /* border: maroon 1px solid; */
    display: inline-block;
}

.goto_post .text{
    text-align: left;
    margin-bottom: 15px;
    color: rgba(0,0,0,.8);
}

.goto_post .text p {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 8px;
}

.goto_post .text span {
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;
}

.goto_post a {
    width: 200px;
    display: inline-block;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    border-radius: 5px;
    line-height: 45px;
    color: #FFF;
    background-color: #FF80A2;
}

.goto_post a:hover {
    text-decoration: none;
    opacity: 0.6;
}


.hot-articles{
    margin-top: 50px;
    width: 96%;
    display: inline-block;
    position: relative;
      text-align: center;
}


.hot-articles span{
    float: left;
    padding-right: 5px;
    font-size: 18px;
    font-weight: 500;
    /* margin-bottom: 30px; */
}
.hot-articles div{
    height: 8px;
}



.right1 {
  border:  1px solid rgb(97, 91, 91);
  width: 280px;
  position: absolute;
  text-align: center;

}





footer{
    margin-top: 50px;
    height: 79px;
    background:  #D5CB8E;
}


